# PostgreSQL Configuration
POSTGRES_USER= username for new user
POSTGRES_PASSWORD= password to access the database
POSTGRES_DB=maps_db #this is a name of the database the init.sql uses 
POSTGRES_HOST=custom_maps_db # Docker service name from docker-compose.yml (for container-to-container communication)

# PgAdmin Configuration
PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASSWORD=admin123

# Frontend Configuration
PORT_REFERENCE=5173 #do not change
HOST_REFERENCE=0.0.0.0 #do not change

# Exposed ports (host machine)
PGADMIN_PORT_EX= #port for PgAdmin web interface
FRONTEND_PORT_EX= #port for Frontend web interface
BACKEND_CADDY_PORT_EX= #port for Backend API endpoints
CDN_PORT_EX= #port for CDN serving static files like icons

# Native ports (container internal)
#POSTGRES_PORT_NATIVE=5432
PGADMIN_PORT_NATIVE=80
FRONTEND_PORT_NATIVE=5173
BACKEND_CADDY_PORT_NATIVE=80
CDN_PORT_NATIVE=80


# API Endpoints Configuration
# Copy this file to .env and update with your actual values

VITE_MAP_DATA_ENDPOINT=http://your-api-server/getMapData.php?map_name=YourMapName
VITE_MARKERS_DATA_ENDPOINT=http://your-api-server/getMarkersData.php?map_name=YourMapName
VITE_OVERLAYS_DATA_ENDPOINT=http://your-api-server/getOverlaysData.php?map_name=YourMapName
VITE_ICONS_BASE_URL=http://your-api-server/icons/