# Dependencies
node_modules/
*/node_modules/
frontend/env
# Environment files
.env.local
.env.*.local
.env
# IDE files
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
workflow

# Build outputs
dist/
build/
*.log

# Docker volumes
custom_maps_postgres_data/
custom_maps_admin_data/
frontend/.env

