@use '@/scss/colors' as *;
@use '@/scss/mixins' as *;

.sidebar {


    &__overlay-button {
        width: 100%;
        height: 3rem;
        background-color: rgba(0, 0, 0, 0);
        color: $font-crl-primary;
        cursor: pointer;
        border: none;
        padding: 0.75rem;
        text-align: left;
        font-size: 1.25rem;

        &:hover {
            background-color: $button-hover-bg-crl;
        }

    }

    &__overlay-item-buttons-group {
        display: flex;
        flex-direction: row;
        gap: 0.25rem;
        margin-left: 1rem;
    }


    &__overlay-item-button {
        background-color: rgba(0, 0, 0, 0);
        color: $font-crl-primary;
        text-align: left;
        cursor: pointer;
        border: none;
        padding: 0.25rem 0.5rem;
        font-size: 1rem;
        width: fit-content;
        font-size: 1.15rem;

        &:hover {
            text-decoration: underline;
        }

        &--action {
            align-self: flex-end;
            font-size: 0.8rem;
            background-color: $button-action-bg-crl;
            border: 1px solid $button-action-border-crl;
            border-radius: 0.25rem;
            flex-grow: 0;

            &:hover {
                background-color: $button-action-hover-crl;
                text-decoration: none;
            }
        }
    }
}


.remove-bookmark-button{
    background-image: url('/assets/icons/bookmark-remove-icon.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 2rem;
    height: 2rem;
    background-size: 70%;
}

.add-bookmark-button{
    background-image: url('/assets/icons/bookmark-add-icon.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 2rem;
    height: 2rem;
    background-size: 70%;
}



.action-button--search {
    font-size: 0.8rem;
    flex-grow: 0;
    flex-shrink: 0;
}

.item-button--search {
    font-size: 0.8rem;
}

@include respond-to-mobile {
    .sidebar {

        &__overlay-button {
            height: 2.5rem;
            font-size: 1rem;
            padding: 0.5rem;
        }

        &__overlay-item-button {
            font-size: 0.8rem;

            &--action {
                font-size: 0.7rem;
            }
        }
    }
}