@use'@/scss/colors.scss' as *;



$pane-width-1200: 470px;
$pane-width-992: 350px;
$pane-width-768: 265px;
$pane-margin-desktop: 3rem;

.sidebar {

  &__pane {
    left: 0;
    right: 0;
    box-sizing: border-box;
    padding: 0rem 1rem 1rem 1rem;

    &-title {
      width: 100%;
      display: inline-block;
    }

    &-header {
      width: 100%;
      height: 1.75rem;
      border-bottom: 2px solid $font-crl-primary;
      text-align: center;
    }

    &-body {
      margin-top: 1rem;
      overflow-y: auto;
      max-height: calc(100vh - 8rem);
      // scrollbar-color: rgba(255, 255, 255, 0.1) rgba(0, 0, 0, 0.1);
      // scrollbar-width: thin;
      padding-right: 0.5rem;
    }

    &-img {
      width: 100%;
      max-height: 250px;
      object-fit: cover;
      border-radius: 0.5rem;
      margin-bottom: 1rem;
    }

  }
}



@media (min-width: 768px) {
  .sidebar__pane {}

  .sidebar__content {}
}

@media (min-width: 768px) and (max-width: 991px) {
  .sidebar__pane {}

  .sidebar__content {}
}

@media (min-width: 992px) and (max-width: 1199px) {
  .sidebar__pane {}

  .sidebar__content {}
}

@media (min-width: 1200px) {
  .sidebar__pane {
    min-width: $pane-width-1200;
    max-width: $pane-width-1200;
  }

  .sidebar__content {
    left: $pane-margin-desktop;
  }
}